<div id="jumbo" class="junbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 mt-2">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand">e-Shopp</a>
                </nav>
            </div>
            <div class="col-md-5 mt-2">
                <form  class="d-flex " role="search">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search" #search>
                    <button class="btn btn-outline-success" type="submit"(click)="findBySearch(search.value)" >Search</button>
                </form>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row ms-5">
            <div class="col-md-2"></div>
            <div class="col-md-4 ms-5">

                <a class="btn btn-sm bg-transparent">Categorias</a>
                <a class="btn btn-sm bg-transparent">Ofertas</a>
                <a class="btn btn-sm bg-transparent">Historial</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>


        </div>
    </div>
</div>